@model Project_Work_2.Models.JobAdvertisement
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<tr>
    <td>
        <input type="hidden" asp-for="JobAdvertisementId" />
        <input asp-for="JobTypeName" class="form-control form-control-sm" />
        <span asp-validation-for="JobTypeName" class="text-danger"></span>
    </td>

    <td>
        <input type="text" asp-for="Responsibility" class="form-control form-control-sm" />
        <span class="text-danger" asp-validation-for="Responsibility"></span>
    </td>
    <td style="width:120px">
        <button type="button" class="btn btn-danger btn-sm del-course"><span class="fa fa-trash"></span> Delete</button>
    </td>
</tr>